:root {
    --bg_nav: #33292a;
    --c_nav: #fff;

    --bg1_wwd: #33292a;
    --bg2_wdy: #644b4f;
    --bg3_ot: #333333;
    --bg4_bright: #f2f2f2;

    --c_bright: #ffffff;
    --c_dark: #000;

    --c_a: #efa69d;
    --c_a_hover: #e9877b;
}
